[data-theme='mona'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: system-ui, sans-serif;
	--heading-font-weight: 900;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-tertiary-800);
	--anchor-font-color-dark: var(--color-tertiary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.01% 0.04 325.94deg);
	--color-primary-100: oklch(87.11% 0.07 311.61deg);
	--color-primary-200: oklch(79.31% 0.11 305.72deg);
	--color-primary-300: oklch(71.25% 0.14 301.92deg);
	--color-primary-400: oklch(63.67% 0.18 298.62deg);
	--color-primary-500: oklch(56.32% 0.21 294.77deg);
	--color-primary-600: oklch(52.02% 0.19 295.16deg);
	--color-primary-700: oklch(47.6% 0.18 296.3deg);
	--color-primary-800: oklch(43.19% 0.16 296.72deg);
	--color-primary-900: oklch(38.55% 0.15 298.42deg);
	--color-primary-950: oklch(33.81% 0.13 299.72deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(96.29% 0.06 152.54deg);
	--color-secondary-100: oklch(89.65% 0.08 152.2deg);
	--color-secondary-200: oklch(82.98% 0.1 151.94deg);
	--color-secondary-300: oklch(76.19% 0.12 151.16deg);
	--color-secondary-400: oklch(69.72% 0.14 150.1deg);
	--color-secondary-500: oklch(63.5% 0.16 148.42deg);
	--color-secondary-600: oklch(56.77% 0.15 147.77deg);
	--color-secondary-700: oklch(49.83% 0.13 146.69deg);
	--color-secondary-800: oklch(42.96% 0.12 145.6deg);
	--color-secondary-900: oklch(35.49% 0.11 144.1deg);
	--color-secondary-950: oklch(27.57% 0.09 142.62deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.68% 0.02 196.75deg);
	--color-tertiary-100: oklch(95.03% 0.04 194.43deg);
	--color-tertiary-200: oklch(91.43% 0.06 191.96deg);
	--color-tertiary-300: oklch(87.68% 0.07 192.6deg);
	--color-tertiary-400: oklch(84.29% 0.09 191.04deg);
	--color-tertiary-500: oklch(81.07% 0.1 190.52deg);
	--color-tertiary-600: oklch(73.02% 0.1 190.05deg);
	--color-tertiary-700: oklch(64.8% 0.09 190.4deg);
	--color-tertiary-800: oklch(56.03% 0.08 190.78deg);
	--color-tertiary-900: oklch(47.33% 0.08 191.22deg);
	--color-tertiary-950: oklch(38.26% 0.07 190.31deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.51% 0.08 107.77deg);
	--color-success-100: oklch(95.51% 0.12 114.51deg);
	--color-success-200: oklch(92.67% 0.16 118.28deg);
	--color-success-300: oklch(89.71% 0.19 121.15deg);
	--color-success-400: oklch(87.22% 0.21 123.7deg);
	--color-success-500: oklch(84.91% 0.22 126.38deg);
	--color-success-600: oklch(77.59% 0.2 128.49deg);
	--color-success-700: oklch(69.88% 0.19 130.73deg);
	--color-success-800: oklch(62.33% 0.18 133.18deg);
	--color-success-900: oklch(54.3% 0.16 136.01deg);
	--color-success-950: oklch(46.42% 0.15 139.06deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.2% 0.04 107.08deg);
	--color-warning-100: oklch(97.28% 0.07 103.8deg);
	--color-warning-200: oklch(95.41% 0.09 102.48deg);
	--color-warning-300: oklch(93.54% 0.11 102.23deg);
	--color-warning-400: oklch(91.8% 0.13 101.61deg);
	--color-warning-500: oklch(90.12% 0.15 101.01deg);
	--color-warning-600: oklch(82.72% 0.14 101.52deg);
	--color-warning-700: oklch(75.17% 0.14 102.05deg);
	--color-warning-800: oklch(67.65% 0.13 103.18deg);
	--color-warning-900: oklch(59.72% 0.12 103.77deg);
	--color-warning-950: oklch(51.53% 0.11 104.38deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.03% 0.05 75.01deg);
	--color-error-100: oklch(87.16% 0.07 53.38deg);
	--color-error-200: oklch(81.5% 0.11 43.57deg);
	--color-error-300: oklch(76.41% 0.14 38.38deg);
	--color-error-400: oklch(71.8% 0.18 35.68deg);
	--color-error-500: oklch(68.15% 0.21 33.95deg);
	--color-error-600: oklch(62.76% 0.2 33.02deg);
	--color-error-700: oklch(57.16% 0.18 31.63deg);
	--color-error-800: oklch(51.74% 0.17 29.96deg);
	--color-error-900: oklch(45.92% 0.16 27.99deg);
	--color-error-950: oklch(40.05% 0.14 25.88deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(92.75% 0 247.74deg);
	--color-surface-200: oklch(85.46% 0 271.51deg);
	--color-surface-300: oklch(78.11% 0.01 247.86deg);
	--color-surface-400: oklch(70.49% 0.01 260.76deg);
	--color-surface-500: oklch(62.53% 0.01 258.36deg);
	--color-surface-600: oklch(55.36% 0.01 256.73deg);
	--color-surface-700: oklch(47.63% 0.02 258.37deg);
	--color-surface-800: oklch(39.95% 0.02 259.41deg);
	--color-surface-900: oklch(31.52% 0.03 260.06deg);
	--color-surface-950: oklch(22.92% 0.03 259.03deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
